<h1>
    user id
    <%= @user.id %>
</h1>

<h1>
    user name
    <%= @user.name %>
</h1>

<h1>
    email
    <%= @user[:email] %>
</h1>

<hr  />

<%= render partial: "partials/table", locals: {title: "Sections table"}%>
